<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.ashes.travel.user.mapper.TravelGroupUserReportMapper">
  <resultMap id="BaseResultMap" type="vip.ashes.travel.user.entity.TravelGroupUserReport">
    <!--@mbg.generated-->
    <!--@Table Travel.travel_group_user_report-->
    <id column="group_user_id" jdbcType="CHAR" property="groupUserId" />
    <result column="report_time" jdbcType="TIMESTAMP" property="reportTime" />
    <result column="location_lat" jdbcType="FLOAT" property="locationLat" />
    <result column="location_lng" jdbcType="FLOAT" property="locationLng" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    group_user_id, report_time, location_lat, location_lng
  </sql>
</mapper>
