<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.ashes.travel.map.mapper.BaiduPoiMapper">
  <resultMap id="BaseResultMap" type="vip.ashes.travel.map.entity.BaiduPoi">
    <!--@mbg.generated-->
    <!--@Table Travel.baidu_poi-->
    <id column="uid" jdbcType="CHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="telephone" jdbcType="CHAR" property="telephone" />
    <result column="location_lat" jdbcType="DOUBLE" property="locationLat" />
    <result column="location_lng" jdbcType="DOUBLE" property="locationLng" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, `name`, address, province, city, area, telephone, location_lat, location_lng
  </sql>
</mapper>